<div class="footer">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-4">
                <span><i class="fa fa-mobile fa-2x"></i> (15) 1234-5678</span>
            </div>
            <div class="col-md-4">
                <span><i class="fa fa-map-marker fa-2x"></i> SP, Sorocaba</span>
            </div>
            <div class="col-md-4">
                <span><i class="fa fa-envelope fa-2x"></i> ns@ns.com</span>
            </div>
        </div>
        <br />
        <p class="text-center"> 
        NF Solidaria &copy; @DateTime.Now.Year<br /><br />
            <img src="~/Img/logotipo-azul-total-vertical.png" style="height:100px" />
        </p>
        
    </div>    
</div>
