@{
    ViewBag.Title = "Sobre";
}
<h1 class="text-primary text-center">@ViewBag.Message Nota Solidária</h1>

<br>
<br>
<div class="container">
    <p style="text-align:justify;font-size:15px;">
        Com o surgimento da Cupom Fiscal Paulista, um programa do Governo do Estado de São Paulo,
        onde em cada compra o consumidor informa seu CPF/CNPJ e solicita sua Cupom Fiscal/Cupom, e após o recolhimento do ICMS pelo estabelecimento,
        a Secretaria da Fazenda creditará ao consumidor
        a parcela do imposto a que ele tem direito proporcional ao valor da compra, os cidadãos podem
        esclolher receber estes creditos em sua conta corrente ou abater no IPVA tambem são feitos sorteio
        de premios, a premiação dos bilhetes é feita por meio de programa desenvolvido e
        homologado pelo IPT - Instituto de Pesquisas Tecnológicas e auditado por empresa de auditoria
        independente.
        <br>
        O programa Nota Fiscal Paulista permite que os paulistanos recuperem parte do imposto pago em suas compras ao informar o 
        CPF durante as compras. Se o CPF não for informado, esse cupom pode ser doado para uma instituição de caridade do Estado 
        de São Paulo. É comum você encontrar as urnas de doações em padarias, supermercados, lanchonetes, etc.
         O problema é que as entidades tem uma data limite para cadastrar esses cupons nos site do programa. 
        Se os cupons não forem cadastrados até essa data, eles viram lixo e ninguém recebe o crédito por ele.
        Além disso, nem todas as entidades conseguem voluntários suficientes para cadastrar os cupons, e nem todas
        conseguem espalhar urnas para coleta nas suas cidades. Fora que as urnas ocupam espaço, já imaginou como 
        ficariam as lojas se todas as entidades colocassem uma urna perto do caixa? O <strong>Nota Solidária</strong>  é um aplicativo gratuito
         que tem como ideia resolver todos esses problemas. Com ele você mesmo pode doar as notas para qualquer entidade beneficente 
        do Estado. As entidades ganham em tempo ao usar o aplicativo, que é muito mais rápido e amigável para cadastrar os cupons.
        E quando dizemos que ele é gratuito, é verdade mesmo. Não existem taxas ou cobranças para usar ou cadastrar cupons.
        <br />
        Hoje em dia para que estas entidades recebam estás doações os cupons fiscais devem ser cadastrados no periodo de 20 dias uteis apos a compra,o consumidor que decidir doar
        seu cupom, o deixa em poder do estabelecimento para que seu cupom seja cadastrado,este processo é manual e lento e muitas
        vezes os cupons perdem a sua validade e as entidades deixam de receber.
        O aplicativo Cupom Fiscal Solidária foi criado para preencher está lacuna, atraves do celular um aplicativo que usa a câmera do aparelho
        para fazer o reconhecimento das informações de cupons fiscais e realizar o cadastramento desses cupons no site da Cupom Fiscal Paulista
        (www.fazenda.sp.gov.br) á favor de uma entidade beneficente que é previamente escolhida pelo usuário dentre as opções oferecidas,
        este processo foi desenvolvido no intuito de agilizar a doação para que o cupom no perca a  sua validade.
        <br>
        Todos sabemos o valor que tem estás entidades e os desafios encontrados por elas todos os dias o simples ato de doar
        pode fortalecer e ajudar construir dias melhores aqueles que nescecitam de ajuda.
        Esperamos com o Nota Solidária atingir um resultado significatico para as entidades participantes do projeto 
        aumentado o numero de doações e doadores.
        <br />

        <strong>Equipe Nota Solidária</strong>
    </p>
</div>

           