<ion-view view-title="Home">
    <ion-side-menus>
        <ion-side-menu-content>

            <div>
                <div class="logo-nfs interno">
                    <div class="container">
                        <button class="button button-icon icon ion-arrow-left-c pull-left" ng-click="vm.DoBack()"></button>
                        <img ng-src="images/logo.png" style="height: 40px;" src="images/logo.png">
                        <button class="button button-icon icon ion-android-more-vertical pull-right" ng-click="vm.OpenPopOverMenu($event)"></button>
                    </div>
                </div>
            </div>

            <ion-nav-view animation="slide-left-right" has-bouncing="false" name="tab-content"></ion-nav-view>

            <div class="tabs-striped tabs-color-nfs tabs menu-bottom">
                <a class="tab-item" ng-class="{active: tabactived == 'cupom'}" href="#/home/cupom">
                    <i class="icon ion-android-list"></i>
                    Cupons
                </a>
                <a class="tab-item" ng-class="{active: tabactived == 'cupom-criar'}" href="#/home/cupom-criar">
                    <i class="icon ion-plus"></i>
                    Novo Cupom
                </a>
                <a class="tab-item" ng-class="{active: tabactived == 'favorita'}" href="#/home/favorita">
                    <i class="icon ion-ios-star"></i>
                    Entidade Favoritas
                </a>
            </div>

        </ion-side-menu-content>
    </ion-side-menus>
</ion-view>