<ion-popover-view class="popover-menu">
    <ion-content>
        <ul class="list">
            <li class="item item-icon-left"  ng-click="vm.EditPerfil()">
                    <i class="icon ion-person-stalker"></i>
                    Perfil
            </li>

            <li class="item item-icon-left" onclick="window.open('http://qicode.net.br', '_system');">
                <i class="icon ion-information"></i>
                Sobre
            </li>

            <li class="item item-icon-left" ng-click="vm.SignOut()">
                <i class="icon ion-log-out"></i>
                Sair
            </li>
        </ul>
    </ion-content>
</ion-popover-view>